:root {
  --title-text-color:#212121;
  --paragraph-text-color:#757575;
  --accent-color:#2196F3;
  --button-text-color:#FFFFFF;
  --main-white-color:#E5E5E5;
  --button-secondary-color: #F5F4FA;
  --hero-section-color:#2F303A;
  --logo-color:#000000;
  --footer-text-color:rgba(255, 255, 255, 0.6);
  --border-header-color:#ECECEC;
  --border-poster-color:#EEEEEE;
  --background-hang:#C4C4C4;
  --color-icon:#AFB1B8;
}

body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--paragraph-text-color);
  background-color: var(--button-text-color);
}

body ul {
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 60px 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-padding-start: 0%;
          padding-inline-start: 0%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0);
  overflow: hidden;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.header {
  border-bottom: 1px solid var(--border-header-color);
  position: relative;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .header__inner-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767px) {
  .header__inner-menu--mobile {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #fff;
  }
  .is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) {
  .header__inner-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.logo {
  color: var(--logo-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: .03em;
  text-decoration: none;
}

.logo--light {
  color: var(--button-text-color);
  display: block;
  margin-bottom: 20px;
}

.logo__particle {
  color: var(--accent-color);
}

@media (max-width: 767px) {
  .site-nav {
    display: block;
  }
}

@media (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.site-nav__item {
  display: block;
  text-align: start;
}

@media (max-width: 767px) {
  .site-nav__item {
    margin-bottom: 32px;
  }
  .site-nav__item:first-child {
    margin-top: 48px;
  }
  .site-nav__item:last-child {
    margin-bottom: 306px;
  }
}

@media (min-width: 767px) {
  .site-nav__item {
    margin-right: 50px;
  }
}

.site-nav__link {
  display: block;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  position: relative;
  margin: 0;
  color: var(--title-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: .02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 767px) {
  .site-nav__link {
    font-size: 40px;
    line-height: 1,17;
  }
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  color: var(--accent-color);
}

@media (min-width: 767px) {
  .site-nav__link {
    padding: 32px 0;
  }
}

@media (min-width: 767px) {
  .site-nav__link--current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--accent-color);
  }
}

.contact-address {
  margin: 0;
}

.contact-address__list {
  display: block;
}

.contact-address__item {
  display: block;
  text-align: start;
}

@media (max-width: 479px) {
  .contact-address__item {
    margin-bottom: 32px;
  }
}

@media (min-width: 480px) {
  .contact-address__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.contact-address__link {
  color: var(--paragraph-text-color);
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  font-style: normal;
  text-decoration: none;
  letter-spacing: .02em;
  padding: 16px 0;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 479px) {
  .contact-address__link--tel {
    font-size: 34px;
    line-height: 1.17;
  }
}

@media (max-width: 479px) {
  .contact-address__link--mail {
    font-size: 24px;
    line-height: 1,17;
  }
}

.contact-address__link:hover, .contact-address__link:focus, .contact-address__link:active {
  color: var(--accent-color);
}

@media (max-width: 479px) {
  .icon-envelope {
    display: none;
  }
}

@media (min-width: 480px) {
  .icon-envelope {
    fill: var(--paragraph-text-color);
    display: inline-block;
    margin-bottom: -5px;
  }
  .contact-address__link:hover .icon-envelope,
  .contact-address__link:focus .icon-envelope {
    fill: var(--accent-color);
  }
}

.overlay {
  background-color: var(--background-hang);
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(47, 48, 58, 0.4))), url("../images/backfon.jpg");
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(47, 48, 58, 0.4)), url("../images/backfon.jpg");
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero {
  text-align: center;
  background-color: var(--hero-section-color);
}

@media (max-width: 1199px) {
  .hero {
    padding: 118px 0;
  }
}

@media (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}

.hero-title {
  color: var(--button-text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
  }
}

.hero-button {
  color: var(--button-text-color);
  background-color: var(--accent-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border: 1px solid transparent;
  text-align: center;
  letter-spacing: .06em;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  padding: 10px 32px;
}

@media (min-width: 768px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -15px;
  }
}

@media (min-width: 1200px) {
  .benefits__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.benefits-inner .benefits-inner__title {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: start;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits-inner .benefits-inner__text {
  text-align: start;
  line-height: 1.71;
  letter-spacing: .03em;
  margin-top: 0;
  margin-bottom: 0px;
  padding-top: 0px;
}

.benefits__icon {
  display: block;
}

@media (min-width: 768px) {
  .benefits__icon {
    width: 354px;
    margin: 15px;
  }
}

@media (min-width: 1200px) {
  .benefits__icon {
    width: 270px;
  }
}

.benefits__icon::before {
  display: block;
  content: '';
  width: 100%;
  height: 120px;
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: center;
  background-color: #F5F4FA;
}

.benefits__icon-antenna::before {
  background-image: url("../images/logo-1.svg");
}

@media (min-width: 768px) {
  .benefits__icon-antenna::before {
    margin-bottom: 30px;
  }
}

.benefits__icon-clock::before {
  background-image: url("../images/logo-2.svg");
}

@media (min-width: 768px) {
  .benefits__icon-clock::before {
    margin-bottom: 30px;
  }
}

.benefits__icon-diagram::before {
  background-image: url("../images/logo-3.svg");
}

@media (min-width: 768px) {
  .benefits__icon-diagram::before {
    margin-bottom: 30px;
  }
}

.benefits__icon-astronaut::before {
  background-image: url("../images/logo-4.svg");
}

@media (min-width: 768px) {
  .benefits__icon-astronaut::before {
    margin-bottom: 30px;
  }
}

.work-area {
  padding-top: 0;
}

.work-area__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-area__item {
  width: 370px;
  height: 294px;
  margin-right: 30px;
}

.work-area__item:last-child {
  margin-right: 0;
}

.work-area__thumb {
  position: relative;
  width: 100%;
  height: 100%;
}

.work-area__thumb-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-text-color);
}

.work-area-desktop {
  display: none;
}

@media screen and (min-width: 1200px) {
  .work-area-desktop {
    display: block;
  }
}

.button-menu {
  display: block;
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  background-color: #fff;
}

@media (min-width: 767px) {
  .button-menu {
    display: none;
  }
}

.button-menu:hover, .button-menu:focus {
  fill: var(--accent-color);
}

.button-menu.is-open .button__icon-cross {
  display: block;
}

.button-menu.is-open .button__icon-menu {
  display: none;
}

.button__icon-cross {
  display: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--button-text-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.modal__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  border: none;
  margin-left: auto;
  margin-right: 8px;
  margin-top: 8px;
  color: black;
  background-color: #FFFFFF;
  stroke: rgba(0, 0, 0, 0.1);
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover {
  background-color: #ffffff;
  color: #2196F3;
  stroke: rgba(0, 0, 0, 0.1);
}

.modal__icon {
  display: block;
  fill: currentColor;
}

.modal-form__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.form {
  margin: 0 40px 40px 40px;
}

.form-field {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-field__label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--paragraph-text-color);
  margin-bottom: 4px;
}

.form-field__input {
  display: block;
  width: 100%;
  padding: 12px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-field__input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.input-thumb {
  position: relative;
  width: 100%;
}

.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input:focus + .form-field__icon {
  fill: var(--accent-color);
}

.form-field-coment__label {
  display: block;
  margin-bottom: 4px;
  width: 100%;
}

.form-field-coment__textarea {
  display: block;
  resize: none;
  width: 448px;
  height: 120px;
  background: #FFFFFF;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 12px;
}

.form-field-coment__textarea:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.form-field-police {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-field-police__label {
  display: contents;
}

.form-field-police__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0);
  overflow: hidden;
}

.form-field-police__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid #000000;
  border-radius: 3px;
  margin-right: 8px;
}

.form-field-police__input:checked:focus + .form-field-police__icon {
  background-color: var(--accent-color);
  background-image: url("../images/icon-check1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
  background-position: center;
}

.form-field-police__link {
  color: var(--accent-color);
  padding-left: 8px;
}

.form-field-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-field-button__button {
  width: 200px;
  height: 50px;
  color: var(--button-text-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}
/*# sourceMappingURL=main.css.map */