:root {
  --title-text-color:#212121;
  --paragraph-text-color:#757575;
  --accent-color:#2196F3;
  --button-text-color:#FFFFFF;
  --main-white-color:#E5E5E5;
  --button-secondary-color: #F5F4FA;
  --hero-section-color:#2F303A;
  --logo-color:#000000;
  --footer-text-color:rgba(255, 255, 255, 0.6);
  --border-header-color:#ECECEC;
  --border-poster-color:#EEEEEE;
  --background-hang:#C4C4C4;
  --color-icon:#AFB1B8;
}

body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--paragraph-text-color);
  background-color: var(--button-text-color);
}

body ul {
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

.container {
  width: 480px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}

.section {
  padding: 60px 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0);
  overflow: hidden;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.hero {
  text-align: center;
  background-color: var(--hero-section-color);
  padding: 118px 0;
}

.hero-title {
  color: var(--button-text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.hero-button {
  color: var(--button-text-color);
  background-color: var(--accent-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border: 1px solid transparent;
  text-align: center;
  letter-spacing: .06em;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  padding: 10px 32px;
}

.benefits__list {
  text-align: center;
}

.benefits__title {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 10px;
}

.benefits__text {
  text-align: start;
  line-height: 1.71;
  letter-spacing: .03em;
  margin-top: 0;
  margin-bottom: 0px;
  padding-top: 0px;
}

.benefits__icon {
  width: 100%;
  display: block;
}

.benefits__icon::before {
  display: block;
  content: '';
  width: 100%;
  height: 120px;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: center;
  margin-bottom: 30px;
  background-color: #F5F4FA;
}

.benefits__icon:not(:last-child) {
  margin-bottom: 30px;
}

.benefits__icon-antenna::before {
  background-image: url("../images/logo-1.svg");
}

.benefits__icon-clock::before {
  background-image: url("../images/logo-2.svg");
}

.benefits__icon-diagram::before {
  background-image: url("../images/logo-3.svg");
}

.benefits__icon-astronaut::before {
  background-image: url("../images/logo-4.svg");
}
/*# sourceMappingURL=main.css.map */