.contact-address{
   margin: 0;
}
    

.contact-address__list{
    display: block;
    padding-bottom: 16px;
    @media (min-width:768px) {
        padding-bottom: 0;
    }
    @media(min-width: 1200px){
        display: flex;
        justify-content:space-between;}
    
}
.contact-address__item{
    display: block;
    text-align: start;
    &:first-child{
        margin-bottom: 32px;
        @media(min-width:768px){
            margin-bottom: 10px;
        }
    }
}

.contact-address__link{

    color: var(--paragraph-text-color); 
    
    list-style: none;
    font-family:'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    font-style: normal;
    text-decoration: none;
    letter-spacing: .02em;

    padding:16px 0;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @media (min-width:768px) {
        display: flex;
        align-items: center;
        padding: 0;
    }
    &--tel{
        @media (max-width:767px) {
        font-size: 34px;
        line-height: 1.17;
        margin-left: 40px;
       
        }
    }
    &--mail{
        @media(max-width:767px){
            font-size: 24px;
            line-height: 1,17;
            margin-left: 40px;
        }
    }
    
    &:hover,
    &:focus,
    &:active{
   color: var(--accent-color);} 
}

.icon-envelope{
    @media(max-width: 767px){
        display: none;
    }
    @media(min-width:768px){
    fill:var(--paragraph-text-color);
    display: inline-block;
    margin-right: 8px;
    
    .contact-address__link:hover &,
    .contact-address__link:focus &{
    fill: var(--accent-color);}}

}