.header{
    border-bottom: 1px solid var(--border-header-color);
    
}
.header__inner{
    padding:16px 0;
}
.header__inner-menu{
    @media (max-width:767px) {
        display:none;
        
    }
    @media (min-width:768px) {
        display: flex;
        align-items: center;
        
    }
}


