.logo {
    color: var(--logo-color);
    font-family:var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: .03em; 
    text-decoration: none;
    
    @media (min-width:1200px) {
        margin-right: 93px;
    }
    &--light{
        color: var(--button-text-color);
        display: block;
        margin-bottom:20px;
        @media (min-width:1200px) {
            margin-right: 0;
        }
    }
    &--black{
        padding: 16px 0;
       
    }
}

.logo__particle{
    color:var(--accent-color);
}
