.mobile-nav__item{
    margin-bottom: 36px;
    &:last-child{
        margin-bottom: 302px;
    }
}

.mobile-nav__link {
    font-size: 40px;
    line-height: 1,17rem;
    letter-spacing: 0.02em;
    margin: 0;
    color: var( --title-text-color);
    font-family: var(--main-font);
    padding: 18px 0;

    
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus{
    color: var(--accent-color);}

    &--current{
    color:var(--accent-color);}
        
      
}
.mobile-address__item{
    &:not(:last-child){
        margin-bottom: 32px;}
}
.mobile-address__link{
    color: var(--paragraph-text-color); 
    background-color: var(--button-text-color);
    list-style: none;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.17;
    letter-spacing: 0.02em;
    
    &:hover,
    &:focus{
    color: var(--accent-color);}
}
.js-close-menu{
    @media (min-width:768px) {
        display: none;
    }
    position:absolute;
    top: 10px;
    right:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    width: 40px;
    height: 40px;
    border: none;
    
    background-color: #fff;
    &:hover, &:focus{
        fill: var(--accent-color);
    }
}
.js-menu-container{
    display: block;
   
    position:fixed;
    top: 0;
    left: 0;
    padding: 32px;
    transform: translateX(100%);
    z-index: 1000;
   
    width: 100vw;
    height: 100vh;
    
    background-color: #fff;
    &.js-close-menu{
    position:absolute;
    top: 16px;
    right:16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0 10px;
    background-color: #fff;
    }
    &.is-open{
       transform: translateX(0);
    }
    
}
.social-text-links{
    display: flex;
    padding: 16px 0;
    background-color: var(--button-text-color);
    @media (min-width:768px) {
       display: none;
    }
 }
 
 .social-text-links__item{
   margin-top:48px;
   
   &:not(:first-child){
    margin-left: 1.25rem;
   }
  
 }
 .social-text-links__link{
  
   @media (max-width:479px) {
      font-size: 1rem;
   }
   font-family:var(--main-font);
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 1.22;
   
   letter-spacing: 0.02em;
   
   color: var(--accent-color);
   
 }