.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
   
    background-color:rgba(0, 0, 0, 0.2);
    transition-property: opacity, visibility;
    transition-duration: 1000ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1) ;
 }
 
 .modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
    min-width: 528px;
    min-height: 581px;
    
    background-color:var(--button-text-color);
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
 }
 .modal__button{
    
    display: flex;
    justify-content: center;
    align-items: center;
 
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
    border: none;
    margin-left: auto;
    margin-right: 8px;
    margin-top: 8px;
    color:black;
    background-color: #FFFFFF;
    stroke: rgba(0, 0, 0, 0.1);
 
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover{
    background-color:#ffffff ;
    color: #2196F3;
    stroke:rgba(0, 0, 0, 0.1);}
 }
 .modal__icon{
    display: block;
    fill: currentColor;
 }
 
 .modal-form__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
 }
 .form{
    margin: 0 40px 40px 40px;
 }
 .form-field{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
 }
 
 .form-field__label{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--paragraph-text-color);
    margin-bottom: 4px;
 }
 .form-field__input{
    display: block;
    width: 100%;
    padding: 12px;
    padding-left: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    &:focus{
    border: 1px solid var(--accent-color);
    outline: none;}
 }
 .input-thumb{
    position: relative;
    width: 100%;
 }
 
 .form-field__icon{
    position: absolute;
    top:50%;
    left:12px;
    transform: translateY(-50%);
 
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .form-field__input:focus+ &{ fill: var(--accent-color);}
 }
 
 .form-field-coment__label{
    display: block;
    margin-bottom: 4px;
    width: 100%;
    
 }
 
 .form-field-coment__textarea{
    display: block;
    resize: none;
    width: 448px;
    height: 120px;
    background: #FFFFFF;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    padding: 12px;
 
    &:focus{
    outline: none;
    border: 1px solid var(--accent-color);}
 }
 
 
 .form-field-police{
    display: flex;
    width: 100%;
    margin-top:20px;
    margin-bottom: 30px;
 
    justify-content: center;
   
 }
 .form-field-police__label{
    display: contents;
 }
 
 .form-field-police__input{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0000);
    overflow: hidden;
 
 }
 
 .form-field-police__icon{
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 1px solid #000000;
    border-radius: 3px;
    margin-right: 8px;
    .form-field-police__input:checked:focus+ &{
    background-color: var(--accent-color);
    background-image: url('../images/icon-check1.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;
    border-color: var(--accent-color);
    background-position: center;
    }
    
 }
 
 .form-field-police__link{
    color: var(--accent-color);
    padding-left: 8px;
 }
 .form-field-button{
    display: flex;
    justify-content: center;
    
    &__button{
    width: 200px;
    height: 50px;
    color: var(--button-text-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    border: none;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;}
 }
 