.overlay{
    background-color: var(--background-hang);
    background-image: linear-gradient(
        0deg, rgba(0, 0, 0, 0.2),
        rgba(47, 48, 58, 0.4)),
    url('../images/header@1.jpg');
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .overlay{
        background-color: var(--background-hang);
        background-image: linear-gradient(
        0deg, rgba(0, 0, 0, 0.2),
        rgba(47, 48, 58, 0.4)),
         url('../images/header@2.jpg');}}
}

@media(min-width:480px){
    .overlay{
    background-image: linear-gradient(
    0deg, rgba(0, 0, 0, 0.2),
    rgba(47, 48, 58, 0.4)),
    url('../images/header@2.jpg');
    @media(min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 196dpi),
    (min-resolution: 2dppx){
    background-color: var(--background-hang);
    background-image: linear-gradient(
        0deg, rgba(0, 0, 0, 0.2),
        rgba(47, 48, 58, 0.4)),
    url('../images/header@3.jpg');}}
}

@media(min-width:900px){
    .overlay{
        background-color: var(--background-hang);
        background-image: linear-gradient(
            0deg, rgba(0, 0, 0, 0.2),
            rgba(47, 48, 58, 0.4)),
    url('../images/backfon.jpg');
    }
}