.section-title{
    color: var( --title-text-color);
    font-family:'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: .03em;
    margin: 0 auto 50px;
    text-align: center;
  }
  .title{
    font-family:'Roboto', sans-serif; 
    font-weight: 700;
    font-size: 14px;
    line-height:1.14;
    letter-spacing: .03em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
 }
 .social__title{
  font-family: 'Roboto', sans-serif;
  font-style: 700;
  font-size: 14px;
  line-height: 1,14;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0,03em;
  text-transform: uppercase;
  color:var(--button-text-color);
  padding-bottom: 20px;
  margin:0;

}