.social-links{
    padding: 0 32px 24px;
    @media (min-width:768px){
       padding: 0 32 30;
    }
 }
 .social-links__list{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content:center;
 }
 .social-links__item{
     width: 44px;
     height: 44px;
     list-style-type: none;
     text-align: center;
     text-decoration: none;
     display: block;
     margin: 0;
     border-radius: 50%;
     background-color: var(--button-text-color);
 }
 .social-links__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--button-text-color);
    text-decoration: none;
    border:none;
 
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 
    &:hover,
    &:focus{
    background-color:var(--accent-color);
    outline: none;}
 }
 
 .social-links__icon{  
    
    display: block;
    fill:#AFB1B8;
 
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .social-links__link:hover &,
    .social-links__link:focus &{fill: var(--button-text-color);}
    
 }
 .social-text-links{
    display: flex;
    padding: 48px 0;
    background-color: var(--button-text-color);
    @media (min-width:768px) {
       display: none;
    }
 }
 
 .social-text-links__item{
   @media (max-width:479px) {
      margin-right: 5px;} 
   margin-right: 20px;
    &:first-child{
       padding-left: 40px;
    }
 }
 .social-text-links__link{
  
   @media (max-width:479px) {
      font-size: 1rem;
   }
   font-family:var(--main-font);
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 1.22;
   
   letter-spacing: 0.02em;
   
   color: var(--accent-color);
   
 }