.work-list{
   display: flex;
   flex-wrap:wrap;
   justify-content: center;
   margin: -15px;
    @media (min-width:768px) {
        justify-content: start;
    }
    @media (min-width:1200px) {
       justify-content: center;
       
    }
 }
 .work-list__item{
    width: 450px;
    margin: 15px 0;
    transition-property: box-shadow; 
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    @media(min-width:768px){
       width:354px;
       margin: 15px;
      }
    @media(min-width:1200px){
         width:370px;
      } 
    
    &:hover,
    &:focus{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;}
   //  &:nth-child(3n){
   //  margin-right: 0;}
   //  &:nth-last-child(-n+3){
   //  margin-bottom: 0;}
 }
 
 .work-list__item-inner{
    text-align: left;
    padding: 20px 24px;
    border-bottom: 1px solid var(--border-poster-color);
    border-left: 1px solid var(--border-poster-color);
    border-right: 1px solid var(--border-poster-color);
 
 }
 .work-list__thumb{
    position: relative;
    overflow: hidden;
    
 }
 .work-list__thumb::before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 1;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    .work-list__item:hover &{
       transform: translateY(0%);
    }
 }
 
 .work-thumb__text{
    position: absolute;
    top: 0;
 
    width: 100%;
    height: 100%;
    
    padding: 63px 24px;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    text-align: start;
    color:var(--button-text-color);
 
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    .work-list__item:hover &{
       transform: translateY(0%);}
    
 }
 
 
 .title__inner{
     
     margin-bottom: 4px;
     
     color: var(--title-text-color);
     
     font-weight: 700;
     font-size: 18px;
     line-height: 2;
     letter-spacing: .06em;
     text-transform: none;
     
 }
 .text__inner{
     font-size: 16px;
     line-height: 1.88;
     letter-spacing: .03em;
     margin-top: 0;
     margin-bottom: 0;
 }