:root{
    --title-text-color:#212121;
    --paragraph-text-color:#757575;
    --accent-color:#2196F3;
    --button-text-color:#FFFFFF;
    --main-white-color:#E5E5E5;
    --button-secondary-color: #F5F4FA;
    --hero-section-color:#2F303A;
    --logo-color:#000000;
    --footer-text-color:rgba(255, 255, 255, 0.6);
    --border-header-color:#ECECEC;
    --border-poster-color:#EEEEEE;
    --background-hang:#C4C4C4;
    --color-icon:#AFB1B8;
}